<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            <a href="#">show</a>
            <ul>
                <li>fast</li>
                <li>asdf</li>
                <li>asdfasd</li>
                <li>adsfa</li>
                <li>afd</li>
            </ul>
        </li>
        <li>other</li>
        <li>otherd</li>
        <li>other3</li>
    </ul>
    <script>

    </script>
</body>
</html>