{
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "overrides": [
      {
        "files": "*.blade.php",
        "options": {
          "parser": "blade"
        }
      }
    ]
  }
